workflows/evaluation_pipeline_v2.json
{
  "name": "evaluation_pipeline_v2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ],
      "id": "61b9cdc1-a7de-4710-a344-51a4557fc22b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://host.docker.internal:8000/candidates/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ],
      "id": "567dde6b-97d9-4fb6-a936-7e0ec88fa6e3",
      "name": "GET Candidate"
    },
    {
      "parameters": {
        "url": " http://host.docker.internal:8000/jobs",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        208
      ],
      "id": "e1484d24-b88f-451c-98df-555a285a9332",
      "name": "GET Job"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "addSuffix"
            }
          }
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        224,
        112
      ],
      "id": "8a0ad2c0-948e-451e-9224-bdf84c028768",
      "name": "Merge Data"
    },
    {
      "parameters": {
        "jsCode": "/* STREAMING_CHUNK:Processing multiplexed candidate and job inputs safely with fallback patterns */\n// Iterate through and output EVERY item in the multiplexed stream\nreturn $input.all().map(item => {\n  const data = item.json;\n\n  // Defensive extraction for Candidate fields (Input 1 -> Primary suffix _1)\n  const candidateId = data.id_1 ?? data.id ?? data.candidate_id;\n  const candidateName = data.name_1 ?? data.name ?? \"Unknown Candidate\";\n  \n  // Safely handle candidate skills if they arrive as arrays, strings, or are missing\n  let candidateSkills = data.skills_1 ?? data.skills;\n  if (Array.isArray(candidateSkills)) {\n    candidateSkills = candidateSkills.join(\", \");\n  } else if (typeof candidateSkills === 'string') {\n    // Keep as string\n  } else {\n    candidateSkills = \"No explicit skills listed\";\n  }\n\n  // Safely handle candidate experience\n  let candidateExperience = data.experience_1 ?? data.experience;\n  if (Array.isArray(candidateExperience)) {\n    candidateExperience = candidateExperience.join(\"\\n\");\n  } else if (typeof candidateExperience === 'string') {\n    // Keep as string\n  } else {\n    candidateExperience = \"No experience description listed\";\n  }\n\n  // Defensive extraction for Job fields (Input 2 -> Primary suffix _2)\n  const jobId = data.id_2 ?? data.job_id ?? 1; // Fallback to 1 if entirely missing\n  const jobTitle = data.title_2 ?? data.title ?? \"Unknown Position\";\n  \n  // Safely handle job requirements\n  let jobRequirements = data.requirements_2 ?? data.requirements;\n  if (Array.isArray(jobRequirements)) {\n    jobRequirements = jobRequirements.join(\"\\n\");\n  } else if (typeof jobRequirements === 'string') {\n    // Keep as string\n  } else {\n    jobRequirements = \"No specific requirements listed\";\n  }\n\n  /* STREAMING_CHUNK:Constructing the LLM evaluation prompt context */\n  // Build the context-rich prompt for Qwen\n  const promptText = `\nYou are a senior technical recruiter and hiring manager. Evaluate the following candidate against the specified target job requirements.\n\n### TARGET JOB:\n- Job ID: ${jobId}\n- Title: ${jobTitle}\n- Requirements: \n${jobRequirements}\n\n### CANDIDATE PROFILE:\n- Candidate ID: ${candidateId}\n- Name: ${candidateName}\n- Key Skills: ${candidateSkills}\n- Professional Experience:\n${candidateExperience}\n\n---\n\n### EVALUATION INSTRUCTIONS:\nAnalyze the candidate's skills and experience against the job requirements.\nProvide your evaluation in a valid, structured JSON format with the following keys:\n1. \"overall_score\": An integer between 0 and 100 representing alignment.\n2. \"decision\": String, strictly one of: \"Proceed\", \"Hold\", \"Reject\".\n3. \"strengths\": An array of strings highlighting matching credentials/skills.\n4. \"missing_skills\": An array of strings highlighting gaps.\n5. \"reasoning\": A robust paragraph justifying your score and decision.\n6. \"summary\": A concise, one-sentence elevator summary.\n\nRespond ONLY with raw JSON. Do not write introductory text, markdown formatting blocks (like \\`\\`\\`json), or conversational filler.\n`;\n\n  /* STREAMING_CHUNK:Structuring payload output for LM Studio and database lookup */\n  // Return formatted cleanly in the required n8n wrapper [{ json: { ... } }]\n  return {\n    json: {\n      lm_studio_prompt: {\n        model: \"qwen2.5-14b-instruct-1m\",\n        messages: [\n          { \n            role: \"system\", \n            content: \"You are a precise, objective screening assistant that outputs strict JSON matching the requested structure.\" \n          },\n          { \n            role: \"user\", \n            content: promptText \n          }\n        ],\n        temperature: 0.15\n      },\n      // Persist critical relational tracking variables downstream for final save step\n      candidate_database_id: candidateId,\n      job_database_id: jobId\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        112
      ],
      "id": "9d7ea4cf-75c7-46be-aef9-5d17b97265db",
      "name": "Build Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:1234/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.lm_studio_prompt }}",
        "options": {
          "timeout": 2400000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        112
      ],
      "id": "c03dfe1a-b034-42e6-ad42-1c448eaeb7b2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  try {\n    // 🧠 Secure extraction checking both array index [0] and flat fallback paths\n    let rawContent = \"\";\n    \n    if (item.json.choices && item.json.choices[0] && item.json.choices[0].message) {\n      rawContent = item.json.choices[0].message.content;\n    } else if (item.json.choices && item.json.choices.message) {\n      rawContent = item.json.choices.message.content;\n    } else {\n      throw new Error(\"Model completion choices path not found in the payload payload object.\");\n    }\n\n    rawContent = rawContent.trim();\n    const parsedJson = JSON.parse(rawContent);\n    \n    return {\n      json: {\n        candidate_database_id: item.json.candidate_database_id,\n        job_database_id: item.json.job_database_id,\n        ...parsedJson   // Merge parsed properties from Qwen\n      }\n    };\n  } catch (error) {\n    return {\n      json: {\n        candidate_database_id: item.json.candidate_database_id,\n        job_database_id: item.json.job_database_id,\n        error: \"Failed to parse model response text\",\n        raw_error_message: error.message\n      }\n    };\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        112
      ],
      "id": "b4af467b-e232-48f8-b2c1-2e64d0646362",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/save-evaluation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"job_id\": {{ $('Build Prompt').itemMatching($itemIndex).json.job_database_id }},\n  \"candidate_id\": {{ $('Build Prompt').itemMatching($itemIndex).json.candidate_database_id }},\n  \"overall_score\": {{ $json.overall_score }},\n  \"decision\": \"{{ $json.decision }}\",\n  \"strengths\": {{ JSON.stringify($json.strengths) }},\n  \"missing_skills\": {{ JSON.stringify($json.missing_skills) }},\n  \"reasoning\": \"{{ $json.reasoning.replace(/\"/g, '\\\\\"') }}\",\n  \"summary\": \"{{ $json.summary.replace(/\"/g, '\\\\\"') }}\",\n  \"evaluated_at\": \"{{ new Date().toISOString() }}\",\n  \"run_id\": \"{{ $executionId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        112
      ],
      "id": "06e4df5d-6e47-46b0-9d14-fa4385eb2c27",
      "name": "HTTP Request3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GET Candidate",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Candidate": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Job": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1563ba2e-5a13-4a41-a2e6-e9136784bf00",
  "meta": {
    "instanceId": "eb7caf52db8afb10139283a7edf3c49c1ed6e71d662e15eb469eeca6cb765fd2"
  },
  "nodeGroups": [],
  "id": "tCWNhF213be1AU7d",
  "tags": []
}